<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">National HIV and AIDS Research Database </h1>
          <p class="lead">A comprehensive and centralized source of information on HIV and AIDS research in Uganda</p>
          <p class="lead">A database built on the following fundamentals:</p>
        </div>
      </div>
      <ul>
        <li>Since the outbreak of the HIV and AIDS epidemic in Uganda in the early 1980s, Ugandan researchers have carried out 
          a lot of groundbreaking research.   Uganda’s national HIV and AIDS response greatly benefited from these efforts both 
          at local and global levels. It has enabled Uganda to manage the epidemic through generation of data, sharing of information and knowledge, 
          informed policies and shaped HIV programing. 
        </li>
        <li>The database will act as a central repository where information on all HIV and AIDS related research  are 
          categorized according to thematic areas using standard international nomenclature are found. Data analysis from these reports will 
          highlight the amount of investments made in each thematic area; indicate gaps for further research and bring research to policy and programming and create value.
        </li>
      </ul>
    </div>
  </div>
  <picture class="background-image" src="../../../../../assets/images/">
    <!-- <source type="image/webp" srcset="assets/dspace/images/banner2.webp"> -->
    <!-- <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w"> -->
    <!-- <source type="image/png" srcset="assets/dspace/images/ug-logo.png 2000w, assets/dspace/images/ug-image.png 1200w"> -->
    <img alt="" [src]="'../'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <!-- <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small> -->
</div>
